@import url("./reset.css");

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .container {
    width: 100%;
  }
  .header-nav {
    margin-left: 50px;
  }
}

@media screen and (max-width: 769px) {
  .order-content {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .container {
    width: 95%;
  }
}
