@import url("./reset.css");

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 60%;
  margin: 0 auto;
}
.container.header {
  width: 70%;
}
.show-more {
  display: none
}
.show-more.show {
  display: none
}
.order-time {
  box-sizing: border-box;
  height: max-content !important;
}
.back-btn {
  box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
  .container {
    width: 90%;
  }
  .header-nav {
    /* margin-left: 50px; */
  }
}

@media screen and (max-width: 769px) {
  .order {
    display: flex;
    flex-direction: column-reverse;
  }
  .show-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 11px;
    margin: 11px 0;
    cursor: pointer;
  }
  ..show-more {
    display: block
  }
  .show-more.show {
    display: flex
  }
  .show-more.show span:last-child {
    transform: rotate(180deg)
  }
  .display-none {
    display: none;
  }
  .order-info {
    box-sizing: border-box;
    margin-top: 15px;
  }

}

@media screen and (max-width: 599px) {
  .container {
    width: 95%;
  }
}
